In [1]:
def square(x):
    return x*x 

square(100)

10000

In [2]:
numbers=[1,2,3,4,5]
list(map(square,numbers))

[1, 4, 9, 16, 25]

In [3]:
#Simply it applies function to all the elements in an Iterable

In [4]:
#Lambda function with map()

In [5]:
list(map(lambda a:a*a,numbers))

[1, 4, 9, 16, 25]

In [6]:
#Map With multiple iterables

In [7]:
numbers1=[1,2,3,4,5]
numbers2=[5,6,7,8,9]
added_numbers=list(map(lambda a,b:a+b,numbers1,numbers2))

In [8]:
added_numbers

[6, 8, 10, 12, 14]

In [9]:
#we can convert one data type to other using map()

In [10]:
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))

In [11]:
int_numbers

[1, 2, 3, 4, 5]

In [12]:
#Inbuilt functions with map()

In [13]:
words=["praveen","zubair","shivani"]
upper_words=list(map(lambda x:x.upper(),words))

In [14]:
upper_words

['PRAVEEN', 'ZUBAIR', 'SHIVANI']

In [15]:
#also
upper=list(map(str.upper,words))
upper

['PRAVEEN', 'ZUBAIR', 'SHIVANI']

In [17]:
#list of Dictionaries with map()

In [20]:
def get_name(person):
    return person["name"]

people=[
    {"name": "John", "age": 30},
    {"name": "Johnny", "age": 30},
    {"name": "Johnbhai", "age": 30},
    {"name": "Johnsin**", "age": 30}
]


list(map(get_name,people))

['John', 'Johnny', 'Johnbhai', 'Johnsin**']

In [21]:
list(map(lambda x:x["name"],people))

['John', 'Johnny', 'Johnbhai', 'Johnsin**']