1. SQL (General) in Python:
SQL is a language used to manage and query relational databases like MySQL, PostgreSQL, or SQL Server.
To work with SQL databases in Python, you use libraries like mysql-connector, psycopg2, or pyodbc, depending on the type of SQL database.
These databases usually require an external server to be installed and running

2. SQLite in Python:
SQLite is a self-contained, serverless, zero-configuration database engine.
It's perfect for smaller applications or embedded systems because it doesn't need a separate server.
In Python, SQLite is built-in, so you don't need to install any external libraries. You can interact with SQLite using Python's sqlite3 module.

In [1]:
import sqlite3

In [2]:
## connecting to an sqllite database
connection=sqlite3.connect("example.db")
connection

In [3]:
cursor=connection.cursor()

In [4]:
#Create a table
cursor.execute('''
Create Table if not exists employees(
    id INT PRIMARY KEY,
    name TEXT NOT NULL,
    age INT,
    deapartnent text
    )
''')

In [5]:
#Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''' )

In [9]:
# Insert the data in sql lite
cursor.execute('''
insert into employees(name,age,deapartnent)
               values("Brahme",20,"ML engineer")
''')

In [10]:
connection.commit()

In [12]:
cursor.execute('''
Select * from employees
''' )

rows=cursor.fetchall()
for row in rows:
    print(row)

(None, 'Brahme', 20, 'ML engineer')

In [15]:
## update the data in the table
cursor.execute('''
update employees
set age=90
where name="Brahme"
''' )

connection.commit()

In [16]:
cursor.execute('''
Select * from employees
''' )

rows=cursor.fetchall()
for row in rows:
    print(row)

(None, 'Brahme', 90, 'ML engineer')

Similarly we can do all sql operations